In [1]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import datetime
import random
from pprint import pprint

In [2]:
file = '/Users/naaz.27khan/Desktop/Project/MJSalesCalendarReport PUBLISH_1.csv'

In [3]:
sum_df = pd.read_csv(file, encoding="ISO-8859-1",parse_dates=True)
sum_df.head(2)

,Month,Med Monthly Sales,Med Year to Date,Rec Monthly Sales,Rec Year to Date,Monthly Sales,Year to Date,Total to Date
0,Jan-14,"$32,541,720","$32,541,720","$14,022,213","$14,022,213","$46,563,933","$46,563,933","$46,563,933"
1,Feb-14,"$31,738,572","$64,280,292","$14,248,473","$28,270,686","$45,987,045","$92,550,978","$92,550,978"

In [4]:
summary_df=sum_df.rename(columns={"Month":"Month-Year"})
summary_df.head()

,Month-Year,Med Monthly Sales,Med Year to Date,Rec Monthly Sales,Rec Year to Date,Monthly Sales,Year to Date,Total to Date
0,Jan-14,"$32,541,720","$32,541,720","$14,022,213","$14,022,213","$46,563,933","$46,563,933","$46,563,933"
1,Feb-14,"$31,738,572","$64,280,292","$14,248,473","$28,270,686","$45,987,045","$92,550,978","$92,550,978"
2,Mar-14,"$34,821,878","$99,102,170","$19,881,631","$48,152,317","$54,703,509","$147,254,487","$147,254,487"
3,Apr-14,"$32,686,869","$131,789,039","$20,765,986","$68,918,303","$53,452,855","$200,707,342","$200,707,342"
4,May-14,"$31,355,208","$163,144,247","$21,375,001","$90,293,304","$52,730,209","$253,437,551","$253,437,551"

In [5]:
summary_df.set_index('Month-Year',inplace=True)
print(summary_df.head())

           Med Monthly Sales Med Year to Date Rec Monthly Sales  \
Month-Year
Jan-14          $32,541,720      $32,541,720       $14,022,213
Feb-14          $31,738,572      $64,280,292       $14,248,473
Mar-14          $34,821,878      $99,102,170       $19,881,631
Apr-14          $32,686,869     $131,789,039       $20,765,986
May-14          $31,355,208     $163,144,247       $21,375,001

           Rec Year to Date Monthly Sales   Year to Date  Total to Date
Month-Year
Jan-14         $14,022,213   $46,563,933    $46,563,933    $46,563,933
Feb-14         $28,270,686   $45,987,045    $92,550,978    $92,550,978
Mar-14         $48,152,317   $54,703,509   $147,254,487   $147,254,487
Apr-14         $68,918,303   $53,452,855   $200,707,342   $200,707,342
May-14         $90,293,304   $52,730,209   $253,437,551   $253,437,551

In [9]:
summary_df["Month-Year"] = pd.to_datetime(summary_df["Month-Year"])
summary_df["Month-Year"]

KeyError: 'Month-Year'